# Ignore the virtual environment
.env
venv/
__pycache__/
*.pyc
.DS_Store
src/.DS_Store


# below venv utilized pygame-ce instead of pygame, more actively managed
venv_test/
stable_requirements_backup.txt


# Ignore output logs and models 
experiments/
misc/
logs/
models/
plots/
showcase_videos/
loop_videos.py
*.json

# Unit tests/ experimental or temp scripts
*_experimental.py
*_experimental.sh
*joke*
*_old.py
testing_*.ipynb
testing_*.py
testing_suite/
inspect_model.py
sandbox.ipynb
post-hoc_evaluation/get_campaign_summary.sh
documentation/notes/

# Just a temporary file to use NotebookLM to generate infographic based on structure of project
READ_ME.MD
